<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/res.Model1.csdl|res://*/res.Model1.ssdl|res://*/res.Model1.msl;provider=System.Data.SqlClient;provider connection string= 'Data Source =(local); Database = DATABASE; Integrated Security = SSPI;MultipleActiveResultSets=true;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>